<nav class="bg-gray-700 text-uppercase fixed-top w-full z-50">
    <div class="container mx-auto px-4 py-6 flex items-center justify-between">
        <!-- Logo -->
        <a class="text-white text-lg font-bold" href="#page-top">Hola!</a>

        <!-- Toggler Button for Mobile View -->
        <button class="text-white bg-cyan-500 text-uppercase font-bold rounded md:hidden p-2" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar Links -->
        <div class="md:flex hidden space-x-4" id="navbarResponsive">
            <ul class="flex space-x-4">
                <li><a class="text-white py-3 px-4 rounded hover:bg-primary" href="#portfolio">Portfolio</a></li>
                <li><a class="text-white py-3 px-4 rounded hover:bg-primary" href="#about">Sobre mi</a></li>
                <li><a class="text-white py-3 px-4 rounded hover:bg-primary" href="#contact">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>
