@import "tailwindcss";
/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Montserrat', sans-serif;
}

:root {
    --bs-primary: #1abc9c;
}

.text-primary {
    color: var(--bs-primary) !important;
}

.bg-primary {
    background-color: var(--bs-primary) !important;
}

.hover\:text-primary {
  &:hover {
      @media (hover: hover) {
          color: var(--bs-primary);
      }
  }
}
